.env
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.egg-info/
dist/
build/
.idea/
.vscode/
.pytest_cache/

*.pdf
*.csv
dataset/
ESCO.zip
.DS_Store
.env
skill_db_relax_20.json
token_dist.json
__pycache__/
